<header id="header"><%=render "static_pages/header.html.erb" %></header>
<div class="full-width-container">
	<div class="container">
		<ul class="collection-links">
			<li><%=link_to "Test", collection_test_path(@collection.name, @test_word.word)%></li>
			<li><%=link_to "Ordered list", word_in_set_path(@collection.name, @word.word)%></li>
			<li><%=link_to "Random word", random_word_path(@collection.name)%></li>
		</ul>
		<h3>Word set: <%=@collection.name.upcase%> </h2>
		<ul class="kanji-list">
		  <% @word_list.each do |w| %>
		    <li>
		      <%= link_to w.word, word_in_set_path(@collection.name, w.word) %>
		    </li>
		  <% end %>
		</ul>	
	</div>
</div>