<header id="header"><%=render "header.html.erb" %></header>
<div class="full-width-container">
	<div class="container">
		<div class="kanji"><%=@kanji.kanji%></div>
		<div class="readings">
			<div class="onyomi"><%=@kanji.onyomi%></div>
			<div class="kunyomi"><%=@kanji.kunyomi%></div>
		</div>
		<div class="translation"><%=@kanji.english%></div>
	</div>

</div>
<div class="container"><%= link_to "Kanji list", kanjis_path %></div>