<header id="header"><%=render "header.html.erb" %></header>
<div class="full-width-container">
	<div class="container">
		<div class="kanji">
			<div class="set-number">
				<%=link_to "#{@collection.name.upcase}", collection_set_path(@collection)%>
			</div>
			<div class="character"><%=link_to "#{@kanji.kanji}", kanji_in_set_path(@collection.name, @kanji.kanji)%>
			</div>
		</div>
		<div class="readings">
			<div class="onyomi"><%=@kanji.onyomi%></div>
			<div class="kunyomi"><%=@kanji.kunyomi%></div>
		</div>
		<div class="translation"><%=@kanji.english%></div>
	</div>

</div>