<div class="full-width-container">
	<div class="container">
		<div class="kanji">
			<div class="set-number"><%=link_to "#{@collection.name.upcase}", collection_set_path(@collection)%> | <%=@current_number%>/<%=@count%></div>
			<div class="character">
				<div class="previous"><%=link_to "Previous", kanji_in_set_path(@collection.name, @previous_kanji.kanji)%></div>
				<%=@kanji.kanji%>
				<div class="next"><%=link_to "Next", kanji_in_set_path(@collection.name, @next_kanji.kanji)%>
			</div>
			</div>
		</div>

		<div class="readings">
			<div class="onyomi-test"><%=@kanji.onyomi%></div>

			<div class="kunyomi-test"><%=@kanji.kunyomi%></div>
		</div>
		<div class="translation-test"><%=@kanji.english%></div>
		<div class="answers">
			<%= form_for @kanji, remote: true, url: collection_kanji_path(@kanji) do |f| %>
			<div class="field">
			<%= f.label :onyomi %>
			<%= f.text_field :onyomi, placeholder: "Onyomi" %>
			</div>
	      	<%= f.submit "Submit", class: "btn btn-medium btn-primary" %>
	    	<% end %>

	    	<%= form_for @kanji, remote: true, url: collection_kanji_path(@kanji) do |f| %>
			<div class="field">
			<%= f.label :kunyomi %>
			<%= f.text_field :kunyomi, placeholder: "Kunyomi" %>
			</div>
	      	<%= f.submit "Submit", class: "btn btn-medium btn-primary" %>
	    	<% end %>

	    	<%= form_for @kanji, remote: true, url: collection_kanji_path(@kanji) do |f| %>
			<div class="field">
			<%= f.label :english %>
			<%= f.text_field :english, placeholder: "English" %>
			</div>
	      	<%= f.submit "Submit", class: "btn btn-medium btn-primary" %>
	    	<% end %>
	    </div>

		<div class="return">Return to: <%=link_to "Home", root_path%> | <%= link_to "Study", collections_path%> | <%=link_to "#{@collection.name.upcase}", collection_set_path(@collection.name)%></div>
	</div>
</div>