<header id="header"><%=render "static_pages/header.html.erb"%></header>
<div class="container">
	<h1>Compound kanji word lists</h1>
	<div class="collections">
		<ul class="collection-list">
			<% @collections.each do |collection| %>
				<li><%=link_to "#{collection.name.upcase} words", word_set_path(collection.name)%>
				 <span> | <%=link_to "Ordered list", word_in_set_path(collection.name, collection.words.first.word)%> | <%=link_to "Random word", random_word_path(collection.name)%> | <%=link_to "Test", word_test_path(collection.name, collection.words.first.word)%></span>
			<% end %>
		</ul>
	</div>
</div>

<% if false %>
	<span> | <%=link_to "Ordered list", word_in_set_path(collection.name, collection.words.first.word)%> | <%=link_to "Random word", random_word_path(collection.name)%> | <%=link_to "Test", word_test_path(@collection.name, @test_word.word)%></span>
	<% end %>